h1 {
    position: absolute;
width: 628px;
height: 190px;
left: 122px;
top: 227px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 101.38%;
}